html,
body {
  min-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

main {
  padding-top: 110px;

  @include breakpoint($nav-header-break) {
    padding-top: 78px;
  }

  @include breakpoint(480px) {
    padding-top: 68px;
  }
}
