.f-hero {
  font-size: 1.875rem;
}

.f-domine {
  font-family: $domine;
}

.f-avenirl {
  font-family: $avenirl;
}

.f-avenirm {
  font-family: $avenirm;
}

.f-avenirh {
  font-family: $avenirh;
}

.f-avenirb {
  font-family: $avenirb;
}
