.f-hero {
  font-size: 1.875rem;
}

.f-domine {
  font-family: 'Domine', serif;
}

.f-avenirl {
  font-family: avenir-light, avenir, sans-serif;
}

.f-avenirm {
  font-family: avenir-medium, avenir, sans-serif;
}

.f-avenirh {
  font-family: avenir-heavy, avenir, sans-serif;
}

.f-avenirb {
  font-family: avenir-black, avenir, sans-serif;
}
