.mxn {
  max-width: none;
}

.mxw-m {
  max-width: 28.5rem;
}

.mxw-l {
  max-width: 40rem;
}

.mxw-l-ns {
  @include breakpoint($gt-sm) {
    max-width: 40rem;
  }
}

.mxw-xl {
  max-width: 50rem;
}
