.pos-pull--right {
  right: 0;
}

.pos-pull--right-beside {
  left: 100%;
}

.pos-pull--top {
  top: 0;
}

.pos-pull--left {
  left: 0;
}

.pos-pull--top-left {
  left: 0;
  top: 0;
}

.pos-pull--fill {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pos-pull--top-25 {
  top: 25%;
}

.pos-pull--top1 {
  top: .65rem;
}

.pos-pull--top2 {
  top: 1.35rem;
}
