html {
  @include breakpoint($lt-sm) {
    font-size: 12px;
  }

  @include breakpoint($gt-xs) {
    font-size: 14px;
  }

  @include breakpoint($gt-lg) {
    font-size: 17px;
  }
}

h1, h2,
h3, h4
h5, h6, strong {
  font-weight: bold;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4, p {
  font-size: 1.3125rem;

  @include breakpoint($gt-md) {
    font-size: 1.5rem;
  }
}
