$height: 475px;
$img-height: 241px;

.card-wrapper-container {
  flex-wrap: wrap;
  max-width: 1550px;
}

.card-link-container {
  display: block;

  width: 75%;
  max-width: 390px;
  margin-top: $spacing-large;

  @include breakpoint($gt-sm) {
    margin-top: 0;
    width: 30%;
    min-width: 250px;
    max-width: 365px;
    height: $height;
  }
}

.card {
  width: 100%;

  img {
    height: $img-height;
  }

  img + div {
    height: $height - $img-height;
  }
}
