$height: 475px;
$img-height: 241px;

.card-wrapper-container {
  flex-wrap: wrap;
}

.card-link-container {
  display: block;

  width: 30%;
  min-width: 250px;
  max-width: 365px;
  height: $height;

  @include breakpoint($lt-md) {
    margin-top: $spacing-large;
    width: 51%;
    min-width: unset;
    max-width: unset;
  }
}

.card {
  width: 100%;

  img {
    height: $img-height;
  }

  img + div {
    height: $height - $img-height;
  }
}
