.form, .form--stacked {
  font-family: avenir-medium, sans-serif;
}

.form--stacked {
  .form-group label,
  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .form-group input,
  .form-group textarea {
    margin-top: $spacing-extra-small;
  }

  .form-group:not(:first-of-type) {
    margin-top: $spacing-medium;
  }

  .form-button  {
    text-align: center;
    margin-top: $spacing-medium;
  }
}
