section.home-page-main {
  min-height: 620px;
}

.home-page-value-prop {
  @include breakpoint($lt-sm) {
    max-width: 375px;
  }
}

.home-page-main .home-page-main--hero-container {
  max-width: 1575px;

  @include breakpoint($gt-md) {
    max-height: 600px;
  }
}

.home-page-info {
  max-width: 1450px;
}

.home-page-testimonials {
  flex-direction: column;

  @include breakpoint(700px) {
    flex-direction: row;
  }
}

.home-page-testimonials article {
  height: unset;
  width: 90%;

  &:not(:first-of-type) {
    margin-top: $spacing-large;
  }

  @include breakpoint(700px) {
    width: 40%;
    height: 400px;

    &:not(:first-of-type) {
      margin-top: 0;
    }
  }

  @include breakpoint($gt-sm) {
    height: 290px;
  }
}

.home-page-button-container {
  justify-content: center;

  @include breakpoint($gt-xs) {
    justify-content: start;
  }

  small {
  }

}

.home-page-button-container small {
  text-align: center;

  @include breakpoint($gt-xs) {
    text-align: left;
    margin-left: 4.3em;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
  }
}
