.comp-pers-white {
  width: 75%;

  @include breakpoint($gt-xs) {
    width: 438px;
  }
}

.comp-img-1 {
  width: 90%;

  @include breakpoint($gt-xs) {
    width: 607px;
  }
}

.comp-img-2 {
  width: 70%;

  @include breakpoint($gt-xs) {
    width: 370px;
  }
}

.comp-img-3 {
  width: 85%;

  @include breakpoint($gt-xs) {
    width: 567px;
  }
}
