$header-height-lg: 9rem;
$header-height-sm: 5rem;

.main-header {
  min-height: $header-height-lg;
  flex-direction: column;
  padding-bottom: $spacing-medium;
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
  border-bottom: 1px solid $light-purple;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 10000;

  @include breakpoint(480px) {
    min-height: $header-height-sm;
    flex-direction: row;
    padding-bottom: $spacing-small;
    padding-left: $spacing-medium;
    padding-right: $spacing-large;
  }

  a {
    font-size: 2rem;

    @include breakpoint(480px) {
      font-size: unset;
    }
  }
}

.main-header-sidebar {
  position: fixed;
  top: 93px;
  right: 0;
  background-color: $white;
  border-left: 1px solid $light-purple;
  border-top: 1px solid $light-purple;
  z-index: 10000;
  transform: translateX(100%);
  transition: transform ease-in-out .2s;
  height: calc(100vh - #{$header-height-lg});

  @include breakpoint(480px) {
    height: calc(100vh - #{$header-height-sm});
  }
}

.main-header-sidebar.is-active {
  transform: translateX(0%);
}
