.main-header {
  min-height: 110px;
  flex-direction: column;
  padding-bottom: $spacing-medium;
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;

  @include breakpoint(480px) {
    min-height: 70px;
    flex-direction: row;
    padding-bottom: $spacing-small;
    padding-left: $spacing-medium;
    padding-right: $spacing-large;
  }

  a {
    font-size: 2rem;

    @include breakpoint(480px) {
      font-size: unset;
    }
  }
}
