.markdown-content {
  width: 75%;
  margin: 0 auto;
  font-family: $avenirm;
  line-height: 1.2;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: $domine;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  p {
    margin: 0 auto;
  }

  pre {

  }
}
