.methodology-ape  {
  width: 141px;
}

.methodology-semi-human {
  width: 103px;
}

.methodology-human {
  width: 113px;
}

.methodology-computer-human {
  width: 193px;
}

.methodology-evolution-text {
  height: 162px;
}

.methodology-knowldedge-gain {
  height: 1208px;
  margin-top: 125px;

  .methodology-consolidated-resources {
    margin-top: 200px;
  }

  .methodology-one-hundred-percent {
    margin-top: 200px;
  }

  .methodology-self-paced {
    margin-top: 225px;
  }
}

.methodology-wisdom-gain {
  height: 1622px;
  margin-top: 105px;

  .methodology-live-programming {
    margin-top: 100px;
  }

  .methodology-industry-experience {
    margin-top: 125px;
  }

  .methodology-quick-clarification {
    margin-top: 300px;
  }

  .methodology-speed-run {
    margin-top: 350px;
  }
}

.methodology-experience-gain {
  height: 1919px;
  margin-top: 125px;

  .methodology-practical-application {
    margin-top: 260px;
  }

  .methodology-proof-of-work {
    margin-top: 225px;
  }

  .methodology-fam {
    margin-top: 200px;
  }

  .methodology-sandbox {
    margin-top: 175px;
  }
}

.underpaid {
  .seesaw_1 svg,
  .seesaw_2 svg {
    position: absolute;
  }

  .seesaw_1 {
    height: 400px;
    top: -60px;
  }

  .seesaw_2 {
    height: 300px;
    top: -250px;
  }
}
