$zig-zag-size-gt: 800px;

.methodology-how-to-learn-fast--container {
  @include breakpoint($lt-sm) {
    > h2, > h3 {
      width: 80%;
    }
  }
}

.methodology-how-to-learn-fast {
  @include breakpoint($lt-sm) {
    h4 {
      font-size: 1.75rem;
    }

    > div {
      max-width: 60%;
    }
  }
}

.methodology-bottom-box p {
  @include breakpoint($lt-md) {
    font-size: 1.25rem;
  }

  span {
    @include breakpoint($gt-sm) {
      display: block
    }
  }
}

section.methodology {
  min-height: 28.5rem;
}

.methodology-ape  {
  width: 141px;
}

.methodology-semi-human {
  width: 103px;
}

.methodology-human {
  width: 113px;
}

.methodology-computer-human {
  width: 193px;
}

.methodology-evolution-text {
  height: 162px;
}

.methodology-experience-gain .zig-zag-img {
  @include breakpoint($zig-zag-size-gt) {
    left: -200px;
  }

  @include breakpoint(850px) {
    left: -150px;
  }

  @include breakpoint(950px) {
    left: -80px;
  }

  @include breakpoint(1050px) {
    left: -30px;
  }
}

.methodology-wisdom-gain .zig-zag-img {
  left: -60px;
  top: 60px;
}

.methodology-mobile-step-img {
  margin-top: 3rem;

  @include breakpoint($zig-zag-size-gt) {
    display: none;
  }
}

.methodology-gains-item {
  @include breakpoint(max-width 799px) {
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.zig-zag-img.zig-zag-img {
  display: none;

  @include breakpoint($zig-zag-size-gt) {
    display: flex;
  }
}

.methodology-gains-container {
  width: 80%;

  @include breakpoint(1170px) {
    max-width: 1300px;
    width: 70%;
    margin-top: 0;
  }
}

.methodology-knowldedge-gain {
  @include breakpoint($zig-zag-size-gt) {
    margin-top: 125px;
    height: 975px;

    .methodology-consolidated-resources {
      margin-top: 90px;
    }

    .methodology-one-hundred-percent {
      margin-top: 200px;
    }

    .methodology-self-paced {
      margin-top: 175px;
    }
  }
}

.methodology-wisdom-gain {
  @include breakpoint($zig-zag-size-gt) {
    height: 1400px;
    margin-top: 105px;

    .methodology-live-programming {
      margin-top: 100px;
    }

    .methodology-industry-experience {
      margin-top: 125px;
    }

    .methodology-quick-clarification {
      margin-top: 200px;
    }

    .methodology-speed-run {
      margin-top: 300px;
    }
  }
}

.methodology-experience-gain {
  @include breakpoint($zig-zag-size-gt) {
    height: 1540px;
    margin-top: 125px;

    .methodology-practical-application {
      margin-top: 125px;
    }

    .methodology-proof-of-work {
      margin-top: 225px;
    }

    .methodology-fam {
      margin-top: 100px;
    }

    .methodology-sandbox {
      margin-top: 150px;
    }
  }

  @include breakpoint($gt-lg) {
    .methodology-sandbox {
        margin-top: 20px;
    }
  }
}

.underpaid {
  @include breakpoint($lt-md) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .seesaw_1 svg,
  .seesaw_2 svg {
    @include breakpoint(860px) {
      position: absolute;
    }
  }

  .seesaw_1 {
    @include breakpoint(860px) {
      height: 400px;
      top: 25px;
    }

    @include breakpoint(1170px) {
      top: -60px;
    }
  }

  .seesaw_2 {
    @include breakpoint(860px) {
      height: 300px;
      top: -175px;
    }

    @include breakpoint(1170px) {
      top: -250px;
    }
  }

  .seesaw_1,
  .seesaw_2 {
    width: 80%;
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;

    @include breakpoint(860px) {
      margin-top: 0;
      margin-bottom: 0;
      width: 850px;
      position: relative;
    }

    @include breakpoint(1170px) {
      width: 1130px;
    }
  }
}
