.nav-link {
  color: $light-purple;
  transition: color .2s ease-in-out;
}

.nav-link-container {
  position: relative;

  a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
