{
  "plugins": [
    ["prismjs", {
      "languages": ["elixir"],
      "plugins": ["line-numbers"],
      "theme": "okaidia",
      "css": true
    }]
  ],

  "presets": [
      "@babel/preset-env"
  ]
}
