<section class='page-size-full flex flex-column justify-center items-center'>
  <h2 class='tc f-avenirm'>Contact</h2>

  <div class='mt4 w-80 mxw-sm-ns'>
    <%= live_render(@conn, LearnElixirLandingWeb.ContactMailerLive) %>
  </div>
</section>


<script>
  window.connectToLiveSocket()
</script>
