$domine: 'Domine', serif;
$avenirl: avenir-light, avenir, sans-serif;
$avenirm: avenir-medium, avenir, sans-serif;
$avenirh: avenir-heavy, avenir, sans-serif;
$avenirb: avenir-black, avenir, sans-serif;
